@font-face {
	font-family: "PlayTangram";
	src: url("../woad/font/PlayTangram.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "baby_bb33";
	src: url("../woad/font/baby_bb33.woff2") format("woff2");
	font-display: swap;
}

:root {
	--hc-tg-blue: #45537B;
	--hc-tg-sky: #2D91B7;
	--hc-tg-green: #7CAA2A;
	--hc-tg-pink: #E62D8B;
	--hc-tg-red: #E71223;
	--hc-tg-orange: #EE7439;
	--hc-tg-yellow: #E9D226;
	--hc-tg-black: #101F0E;

	--hc-sky-xv: #3498db;
	--hc-white-xi: #fff;
	--hc-orange-xvi: orange;
}

body, html {
  overflow: hidden;
  height: 100%;
	background-color: #000000;
}

